<footer id="footer" class="footer pt-100 pb-70 mt-5">
    <div class="footer-shape">
        <img src="assets/img/footer/footer-left.svg" alt="" class="shape shape-1" />
        <img src="assets/img/footer/footer-right.svg" alt="" class="shape shape-2" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo/logo-job-2.png" alt="logo" /></a>
                    </div>
                    <div class="download-btns">
                        <a href="javascript:void(0)">
                            <span class="icon"><i class="lni lni-apple"></i></span>
                            <span class="text">Baixar<b>App Store</b> </span>
                        </a>
                        <a href="javascript:void(0)">
                            <span class="icon"><i class="lni lni-play-store"></i></span>
                            <span class="text">Acesse<b>Play Store</b> </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
                    <h3 class="font-weight-normal">Sobre Nós</h3>
                    <ul class="links">
                        <li>
                            <a href="javascript:void(0)">Serviços</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Contatos</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Localização</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Rede Social</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".6s">
                    <h3 class="font-weight-normal">Outros</h3>
                    <ul class="links">
                        <li>
                            <a href="javascript:void(0)">Parceiros</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Termos de Serviços</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Politica de Privacidade</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Politica de Pagamento</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".8s">
                    <h3 class="font-weight-normal">Suporte</h3>
                    <ul class="links">
                        <li>
                            <a href="javascript:void(0)">Empresas</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Comunidade</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Politica de Devolução</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Acessibilidade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><br>
        <p class="text-center mt-5" style="color:#d4d4d4; font-size: 15px;">
            Copyright © 2022 - Todos os direitos reservados | S.Lima</p>
    </div>
</footer>