<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--<app-mural-vagas></app-mural-vagas>>-->
<app-menu></app-menu>
<router-outlet></router-outlet>
<app-rodape></app-rodape>


 <!--<app-mural-vagas></app-mural-vagas>

 <app-rodape></app-rodape>
 <router-outlet></router-outlet>-->



<!--<style></style>

<div className="App">
	<div class="preloader">
		<div class="loader">
			<div class="ytp-spinner">
				<div class="ytp-spinner-container">
					<div class="ytp-spinner-rotator">
						<div class="ytp-spinner-left">
							<div class="ytp-spinner-circle"></div>
						</div>
						<div class="ytp-spinner-right">
							<div class="ytp-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<header class="header">
		<div class="navbar-area navbar-light bg-danger">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg">
							<a class="navbar-brand" href="#">
								<img src="assets/img/logo/logo-job.png" alt="Logo" />
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
								<ul id="nav" class="navbar-nav ml-auto">
									<li class="nav-item">
										<a class="page-scroll text-white font-weight-bold" href="#home">Início</a>
									</li>
									<li class="nav-item">
										<a class="page-scroll text-white" href="#services">Servicos</a>
									</li>
									<li class="nav-item">
										<a class="page-scroll text-white" href="#sobre">Sobre Nós</a>
									</li>
									<li class="nav-item">
										<a class="page-scroll text-white" href="#produtos">Produtos</a>
									</li>
									<li class="nav-item">
										<a class="page-scroll text-white" href="#depo">Depoimentos</a>
									</li>
								</ul>
							</div>	
						</nav>	
					</div>
				</div>	
			</div>	
		</div>	
	</header>

	<section id="home" class="hero-section">
		<div class="hero-shape">
			<img src="assets/img/hero/hero-shape.svg" alt="" class="shape" />
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="hero-content">
						<h1 class="wow fadeInUp font-weight-normal" data-wow-delay=".2s"><b class="text-danger">Job Plus - </b><span>Empregar é o nosso forte</span></h1>
						<p class="wow fadeInUp" data-wow-delay=".4s">
							Somos uma empresa com vasto conhecimento e com mais de 20 anos de experiência em Recursos Humanos. 
							Especializados em Terceirização e prestação de serviços Efetivos, Temporários e Intermitente. 
							Fazemos o Recrutamento e Seleção em nossa empresa, mas também podemos fazer em local designado.
						</p>
						<a href="javascript:void(0)" class="main-btn btn-hover wow fadeInUp text-white rounded-pill" data-wow-delay=".6s">Vagas >></a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="hero-img wow fadeInUp" data-wow-delay=".5s">
						<img src="assets/img/hero/hero-img.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="services" class="service-section pt-150 bg-light mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-6 col-lg-8">
					<div class="section-title text-center mb-70">
						<span class="wow fadeInUp" data-wow-delay=".2s"><b>Serviços</b></span>
						<h2 class="wow fadeInUp text-dark" data-wow-delay=".4s">Temos o que você precisa</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-delay=".2s">
						<div class="icon">
							<img src="assets/img/service/service-icon-1.png" alt="" />
						</div>
						<div class="content">
							<h4 class="text-danger">Gestão de Recursos Humanos</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-delay=".4s">
						<div class="icon">
							<img src="assets/img/service/service-icon-2.png" alt="" />
						</div>
						<div class="content">
							<h4 class="text-danger">Programa de Estágios</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-delay=".6s">
						<div class="icon">
							<img src="assets/img/service/service-icon-3.png" alt="" />
						</div>
						<div class="content">
							<h4 class="text-danger">Consultoria e Treinamentos</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-delay=".2s">
						<div class="icon">
							<img src="assets/img/service/service-icon-4.png" alt="" />
						</div>
						<div class="content">
							<h4 class="text-danger">Terceirização de Serviços</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-delay=".4s">
						<div class="icon">
							<img src="assets/img/service/service-icon-5.png" alt="" />
						</div>
						<div class="content">
							<h4 class="text-danger">Programa Minha Chance</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-delay=".6s">
						<div class="icon">
							<img src="assets/img/service/service-icon-6.png" alt="" />
						</div>
						<div class="content">
							<h4 class="text-danger">Programa Primeiro Emprego</h4>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="sobre" class="about-section pt-150 mt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about-img wow fadeInUp" data-wow-delay=".5s">
						<img src="assets/img/about/about-img.png" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-content">
						<div class="section-title">
							<span class="wow fadeInUp" data-wow-delay=".2s"><b>Sobre Nós</b></span>
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Vagas preenchidas e clientes satisfeitos</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
						</div>
						<div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
							<h5>Satisfação 4.8</h5>
							<div class="rating">
								<i class="lni lni-star-filled"></i>
								<i class="lni lni-star-filled"></i>
								<i class="lni lni-star-filled"></i>
								<i class="lni lni-star-filled"></i>
								<i class="lni lni-star-filled"></i>
							</div>
						</div>
						<div class="counter-up wow fadeInUp" data-wow-delay=".8s">
							<div class="single-counter">
								<h3 id="secondo1" class="countup" >1000</h3>
								<h5>Vagas</h5>
							</div>
							<div class="single-counter position-relative">
								<h3 id="secondo2" class="countup">512</h3>
								<h5>Preenchidas</h5>
							</div>
							<div class="single-counter">
								<h3 id="secondo3" class="countup" >488</h3>
								<h5>Abertas</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="produtos" class="delivery-section pt-150 bg-light mt-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5">
					<div class="delivery-content">
						<div class="section-title">
							<span class="wow fadeInUp" data-wow-delay=".2s"><b>Produtos</b></span>
							<h2 class="mb-35 wow fadeInUp" data-wow-delay=".4s">Cadastra-se em nosso site</h2>
							<p class="mb-35 wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore hdht dolore magna aliquyam erat, sed diam voluptua.</p>
							<a href="javscript:void(0)" class="main-btn btn-hover wow fadeInUp text-white rounded-pill mt-5" data-wow-delay=".8s">Cadastrar >></a>
						</div>
					</div>
				</div>
				<div class="col-lg-7 order-first order-lg-last">
					<div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
						<img src="assets/img/delivery/delivery-img.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="received" class="about-section received-section pt-150 bg-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
						<img src="assets/img/received/received-img.png" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-content received-content">
						<div class="section-title">
							<span class="wow fadeInUp" data-wow-delay=".2s"><b>Contrate nossos treinamentos</b></span>
							<h2 class="mb-25 wow fadeInUp" data-wow-delay=".4s">Deixe o seu processo seletivo conosco</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
              <a href="javscript:void(0)" class="main-btn btn-hover wow fadeInUp text-white rounded-pill mt-2" data-wow-delay=".8s">Contratar >></a>
            </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="depo" class="testimonial-section img-bg pt-150 pb-40 mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title mb-60 text-center">
						<span class="wow fadeInUp" data-wow-delay=".2s"><b>Depoimentos</b></span>
						<h2 class="wow fadeInUp text-dark" data-wow-delay=".4s">O que os nossos clientes dizem...</h2>
					</div>
				</div>
			</div>
			<div class="row testimonial-wrapper">
				<div class="col-lg-4 col-md-6 -mt-30">
					<div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
						<div class="rating" align="center">
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
						</div>
						<div class="info">
							<div class="image">
								<img src="assets/img/testimonial/testimonial-1.png" alt="" />
							</div>
							<div class="text">
								<h5>Ana Paula</h5>
								<p>Professora</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 -mt-30">
					<div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
						<div class="rating" align="center">
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
						</div>
						<div class="info">
							<div class="image">
								<img src="assets/img/testimonial/testimonial-2.png" alt="" />
							</div>
							<div class="text">
								<h5>José Luis</h5>
								<p>Mecânico</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 -mt-30">
					<div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
						<div class="rating" align="center">
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
						</div>
						<div class="info">
							<div class="image">
								<img src="assets/img/testimonial/testimonial-3.png" alt="" />
							</div>
							<div class="text">
								<h5>Maria Lurdes</h5>
								<p>Diarista</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 -mt-70">
					<div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
						<div class="rating" align="center">
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
						</div>
						<div class="info">
							<div class="image">
								<img src="assets/img/testimonial/testimonial-4.png" alt="" />
							</div>
							<div class="text">
								<h5>Jonathan Lima</h5>
								<p>Web Designer</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 -mt-70">
					<div class="single-testimonial wow fadeInUp" data-wow-delay=".4s">
						<div class="rating" align="center">
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
						</div>
						<div class="info">
							<div class="image">
								<img src="assets/img/testimonial/testimonial-5.png" alt="" />
							</div>
							<div class="text">
								<h5>Sara Lins</h5>
								<p>Secretária</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 -mt-70">
					<div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
						<div class="rating" align="center"> 
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
							<i class="lni lni-star-filled"></i>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet onsetetur sadipscing elitr, sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
						</div>
						<div class="info">
							<div class="image">
								<img src="assets/img/testimonial/testimonial-6.png" alt="" />
							</div>
							<div class="text">
								<h5>Daniel Supi</h5>
								<p>Economista</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer" class="footer pt-100 pb-70 mt-5">
		<div class="footer-shape">
			<img src="assets/img/footer/footer-left.svg" alt="" class="shape shape-1" />
			<img src="assets/img/footer/footer-right.svg" alt="" class="shape shape-2" />
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
						<div class="logo">
							<a href="#"><img src="assets/img/logo/logo-job-2.png" alt="logo" /></a>
						</div>
						<div class="download-btns">
							<a href="javascript:void(0)">
								<span class="icon"><i class="lni lni-apple"></i></span>
								<span class="text">Baixar<b>App Store</b> </span>
							</a>
							<a href="javascript:void(0)">
								<span class="icon"><i class="lni lni-play-store"></i></span>
								<span class="text">Acesse<b>Play Store</b> </span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
						<h3 class="font-weight-normal">Sobre Nós</h3>
						<ul class="links">
							<li>
								<a href="javascript:void(0)">Serviços</a>
							</li>
							<li>
								<a href="javascript:void(0)">Contatos</a>
							</li>
							<li>
								<a href="javascript:void(0)">Localização</a>
							</li>
							<li>
								<a href="javascript:void(0)">Rede Social</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget wow fadeInUp" data-wow-delay=".6s">
						<h3 class="font-weight-normal">Outros</h3>
						<ul class="links">
							<li>
								<a href="javascript:void(0)">Parceiros</a>
							</li>
							<li>
								<a href="javascript:void(0)">Termos de Serviços</a>
							</li>
							<li>
								<a href="javascript:void(0)">Politica de Privacidade</a>
							</li>
							<li>
								<a href="javascript:void(0)">Politica de Pagamento</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget wow fadeInUp" data-wow-delay=".8s">
						<h3 class="font-weight-normal">Suporte</h3>
						<ul class="links">
							<li>
								<a href="javascript:void(0)">Empresas</a>
							</li>
							<li>
								<a href="javascript:void(0)">Comunidade</a>
							</li>
							<li>
								<a href="javascript:void(0)">Politica de Devolução</a>
							</li>
							<li>
								<a href="javascript:void(0)">Acessibilidade</a>
							</li>
						</ul>
					</div>
				</div>
			</div><br>
			<p class="text-center mt-5" style="color:#d4d4d4; font-size: 15px;"> 
			Copyright ©  2022 - Todos os direitos reservados | S.Lima</p>   
		</div>      	
	</footer>
	
	<a href="#" class="scroll-top btn-hover rounded-pill">
		<i class="lni lni-chevron-up text-white"></i>
	</a>
	
 	* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
	<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
	<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
	<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
	<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


	
