.listar-vagas{
display: flex;
flex-direction: row;
}

.listar-vagas .card{
  margin: 20px 20px 20px 20px;
}

@media screen and (max-width:768px) {
img {
    width:100%;
}
.container {
    max-width:100%;
    width: 100%;
}
.col-md-6{
    width:100%;
    float:left;
    margin:0;
}
}